.flex-container {
  display: flex;
  word-wrap: break-word;
  width: 97vw;
  max-width: 97vw;
}

.sidenav {
  min-width: 18em;
  background-color: #1a1b1e;
  height: 100%;
  min-height: 100vh;
}

.content {
  padding: 2% 15% 2% 5%;
  min-width: 0;
}

.caption {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.navgrid {
  position: fixed;

  width: 18em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.navbutton {
  transition: background-color .85s linear;
}

.navbutton:hover {
  background-color: red;
}

/* Moves sidenav to top on small screens */
@media all and (max-width: 750px) {
  .flex-container {
      flex-direction: column;
      max-width: 100vw;
  }

  .sidenav {
      min-height: 0;
      min-width: 100%;
  }

  .navgrid {
      position: static;
      width: 100%;
  }

  .content {
      padding: 2% 7% 2% 7%;
  }
}

.center {
  margin: 0 auto 0 auto;
  width: 90%;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

code {
  display: block;
  overflow-x: scroll;
}